body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(51, 50, 47);
}
/*
button{
  border: none;
  outline: none;
  background-color: darkgray;
  color: #000;
}*/
.custom-toggler.navbar-toggler {
  border-color: rgb(221, 255, 0);
  background-color: #baede6;
} 

header {
  background: url("../boolstap.png") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 500px;
}
a {
  text-decoration: none;
}
#logo {
  color: rgba(2, 19, 248, 0.624);
  font-size: 48px;

  text-shadow: 2px 2px blue;
}

.navbar {
  /*background: #378f9b;*/
  background-image: url("nav.jpg");

}
.features-icons {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.features-icons-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #0080ff;
}

.showcase-img {
  background-size: cover;
  min-height: 30rem;
}

.showcase-text {
  padding: 8rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonials-item img {
  max-width: 12rem;
  box-shadow: 0 5px 5px #adb5bd;
}

.call-to-action {
  background: url("../boolstap.png") no-repeat center center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media screen and (max-width: 360px) {
  .showcase-text {
    padding: 4rem;
  }

  .showcase-img {
    min-height: 15rem;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #title1,
  #title2 {
    margin-left: 3px;
  }
  #logout {
    border: none;
  }
}

@media (min-width: 280px) and (max-width: 540px) {
  #show1,#show2 {
   background-image: url(/boolstap.png);
  }
  ul li {
    display: block;
    border: 3px black;
  }
  #ic1,#ic2,#ic3 {
    display: none;
  }
  #head {
    display: none;
  }
  #selLabe1,
  #repLabel {
    color: black;
    font-size: 26px;
    background-color: rgb(69, 175, 135);
    font-family: 'Times New Roman', Times, serif;
  }
  #selLabe2,
  #selLabe3,
  #repLabe2,
  #repLabe3 {
    color: black;
    font-size: 26px;
    
  }

  #selColL,
  #selColR {
    background-color: rgb(62, 228, 62);
    border-radius: 10%;
    font-family: 'Times New Roman', Times, serif;
  }

  #selTcv,
  #selTank,
  #repTcv,
  #repTank {
    font-weight: bold;
    font-size: 48px;
    color: blanchedalmond;
  }
  #selStart,
  #repStart,
  #selComp {
    font-weight: bold;
    font-size: 26px;
  }
  #myTimer{
    font-size: 26px ; 
    font-family: sans-serif;
    background-color:red ; 
    color: teal" 
  }
}
@media (min-width: 540px) and (max-width: 1800px) {
  #btUp1,
  #btUp2,
  #btUp3 {
    display: none;
  }
  #radio0,
  #radio1,
  #radio2 {
    position: absolute;
    text-shadow: 0.5px 0.6px rgb(202, 252, 101);
    transform: translate(-50%, -50%);
    width: 25%;
    padding: 10px;
    background: #000;
    color: #fff;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
    border-radius: 5px;
    overflow: hidden;
  }

  #inradio0,
  #inradio1,
  #inradio2 {
    display: none;
  }
  .yes .no .home {
    position: relative;
    display: inline-block;
    margin: 40px 20px;
    width: 500px;
    height: 30px;
    text-align: center;
    background: #000;
    border: 5px solid#444;
    color: #444;
    border-radius: 4px;
    font-size: 25px;
  }
  #radio0 .inradio0:checked ~ .home,
  #radio1 .inradio1:checked ~ .yes,
  #radio2 .inradio2:checked ~ .no {
    color: #fff;
    border: 1px solid #62ff00;
  }
  #radio0 .inradio0:checked ~ .home:before,
  #radio1 .inradio1:checked ~ .yes:before,
  #radio2 .inradio2:checked ~ .no:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #62ff00;
    z-index: -1;
    filter: blur(10px);
  }
  #radio0 .inradio0:checked ~ .home::after,
  #radio1 .inradio1:checked ~ .yes::after,
  #radio2 .inradio2:checked ~ .no::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #62ff00;
    z-index: -1;
    filter: blur(15px);
  }
  #radio0 .inradio0:checked ~ .home,
  #radio1 .inradio1:checked ~ .yes,
  #radio2 .inradio2:checked ~ .no {
    color: black;
    border: #62ff00;
    box-shadow: inset 0 0 10px #62ff00;
    font-weight: bold;
  }

  .legend {
    display: inline-block;
    background: darkcyan;
  }

  #repTcv,
  #repTank,
  #selTcv,
  #selTank {
    font-size: 124px;
    font-weight: bold;
    color: rgb(235, 204, 197);
    text-shadow: 3px 2px rgb(7, 7, 7);
  }

  #repStart,
  #selStart,
  #selComp,
  #repComp {
    font-weight: bold;
    height: 60px;
    font-size: 35px;
  }
  #myTimer,
  #myTimer2{
    
    font-size: 35px ; 
    font-family: sans-serif;
    background-color:rgb(209, 172, 21) ; 
    color: teal"
    
  }

  #selLabe1,
  #repLabel {
    color: #ffffff;
    font-size: 48px;
    background-color: #1d2b20;
    text-shadow: 3px 2px rgb(7, 7, 7);

  }
  #selLabe2,
  #selLabe3,
  #repLabe2,
  #repLabe3 {
    color: #ffffff;
    font-size: 44px;
    text-shadow: 3px 2px rgb(7, 7, 7);
  }
  #selColL,
  #selColR {
    background-color: #134845;

    border-radius: 10%;
    text-shadow: 3px 2px rgb(7, 7, 7);
  }
}